
.cr {
  border-radius: 50px;
  border-color: gray;
}
table {
  border-radius: 50px;
  border-color: gray;
}
  a {
    text-decoration: none;
  }


.fix{
  position: fixed;
  left: 0px;
  top: 0px;
  border-radius:30px;
  border-color: gray;
}

.s{
  position: fixed;
  left: 0px;
  top: 62px;
  border-radius:30px;
  border-color: gray;
}
.stop{
  position: fixed;
  right: 5px;
  top:1500px;  
  
}