.fix{
  position: fixed;
  left: 0px;
  top: 0px;
  border-radius:30px;
}
.s{
  position: fixed;
  left: 0px;
  top: 62px;
  border-radius:30px;
}
.stop{
  position: fixed;
  right: 5px;
  top:1500px;
  
  
}
a {
 text-decoration:none;

}
.cr{
border-radius:50px;

}